=== rules ===
> Always remote in to resolve issues
> At first contact, request the user replicate the issue that their facing (words that users use, dont reflect the issue they are facing usually)
> Create a knowledge base, keep updating articles
> Depending on how long the user's uptime is in task manager, it may be recommended to get the user to restart their machine i.e. turn the machine off and on again
