=== rules ===
> Always remote in to resolve issues
> At first contact, request the user replicate the issue that their facing (words that users use, dont reflect the issue they are facing usually)
> Create a knowledge base, keep updating articles
> 
